@import "fonts.scss";
@import 'colors.scss';
@import 'App.scss';
@import 'Nav.scss';

*{
  margin: 0;
  padding: 0;
}

body {
  // color: $secondary;
  // background-color: $primary;
  font-family: $primary-font;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}